.places-box__like {
    background: url(../../../images/like.svg) center no-repeat;
    width: 22px;
    height: 19px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.places-box__like:hover {
    opacity: 0.5;
}