.profile__full-name {
    font: 500 42px/1.14 "Inter", Arial, sans-serif;
    margin: 0 0 16px 0;
    padding-right: 42px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width: 550px) {
    .profile__full-name {
        font: 500 27px/1.14 "Inter", Arial, sans-serif;
        padding-right: 28px;
        margin-bottom: 14px;
    }    

}