.profile__button-plus {
    border: 2px solid white;
    border-radius: 2px;
    width: clamp(100px, 18vw, 150px);
    height: 50px;
    background: url(../../../images/plus.svg) center no-repeat;
    align-self: center;
    cursor: pointer;
}

.profile__button-plus:hover {
    opacity: 0.6;
}

@media screen and (max-width: 550px) {

    .profile__button-plus {
        width: 100%;
    }
}