.profile__edit-avatar {
    align-self: flex-start;
    margin-right: 30px;
    border-radius: 50%;
}

 .profile__edit-avatar:hover {
    background: url(../../../images/edit_avatar.svg) center no-repeat;
} 

@media screen and (max-width: 550px) {

    .profile__edit-avatar {
        margin: 0 0 26px 0;
        align-self: center;
    }
}