.footer__copyright {
    font: normal 18px/21.78px "Inter", Arial, sans-serif;
    color: #545454;
    margin: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}