.popup__save-btn {
    height: 50px;
    width: 358px;
    background-color: black;
    color: white;
    font: 400 18px/21.78px "Inter", Arial, sans-serif;
    border: none;
    cursor: pointer;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__save-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 550px) {
    .popup__save-btn {
        height: 46px;
        width: 238px;        
        font-size: 14px;
        line-height: 16.94px;
    }
}