.profile__about-me {
    align-self: center;
    max-width: 340px;
    display: grid;    
}
   

@media screen and (max-width: 550px) {

    .profile__about-me {
        text-align: center;
        margin-right: 0;
        max-width: 282px;
    }
}