.profile__occupation {
    font: normal 18px/1.2 "Inter", Arial, sans-serif;
    margin: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 550px) {

    .profile__occupation {
        font: normal 14px/1.2 "Inter", Arial, sans-serif;
    }
}