.profile__full-name {
    font: 500 42px/1.14 "Inter", Arial, sans-serif;
    margin: 0 0 8px 0;
    grid-column: 1/2;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width: 550px) {
    .profile__full-name {
        font-size: 27px;
        line-height: 1.27;
        margin-bottom: 6px;
        padding-left: 27px;
    }    
}